@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
	font-family: 'Poppins', sans-serif !important;
}

.logo{
	height: 13rem;
	margin:-5.5rem 2.3rem -9rem -2.8rem; 
}
.detail-title{
	font-size: 2.5rem;
}
.detail-description{
	font-size: 1.2rem;
}